@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: light --default, dark;
  root: ":root"; /* applique les variables CSS globalement */
  logs: true;    /* pour voir les logs DaisyUI si besoin */
}

@theme {
  --color-*: initial;
  --color-primary: rgba(24,119,242,1);
}

:root {

}

.block-container{
  @apply md:max-w-[768px] lg:max-w-[976px] xl:max-w-[1200px] 2xl:max-w-[1200px] mx-auto px-4;
}
